<div class="container">
  <h1>Reultat igre</h1>
  <hr>
  <p><strong>Ukupno tačnih:</strong> {{score}}%</p>
  <br>
  <div class="result-success"><strong>{{score}}%</strong></div>
  <progressbar [max]="100" [value]="score" [animate]="true" type="success"></progressbar>
  <br/>
  <a [routerLink]="['']">Započni novu igru</a>
</div>
