<div class="container">
  <h1>Pogađanje gradova</h1>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 app-titles">

          <div class="pull-right">
            <strong>VREME:</strong> <span id="minutes">{{minutes}}</span>m <span id="seconds">{{seconds}}</span>s
          </div>

          <strong>OBLAST:</strong> <span class="uppercase">{{area}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="relative">
            <!--<pre class="card card-block card-header">Model: {{selected | json}}</pre>-->
            <ng-template #customItemTemplate let-model="item" let-index="index">
              <h5 class="city-item">{{model }}</h5>
            </ng-template>
            <input
              [(ngModel)]="preSelected"
              [typeahead]="cities"
              [typeaheadItemTemplate]="customItemTemplate"
              [typeaheadScrollable]="true"
              [typeaheadOptionsInScrollableView]="7"
              class="form-control"
              type="text"
              name="city"
              id="city"
              placeholder="Molimo unesite naziv grada"
              autocomplete="off"
            />

          </div>
          <br>
          <button class="btn btn-default pull-right" (click)="addToList(preSelected)">Dodaj u listu</button>

        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 app-titles">
          <strong>Lista ubačenih gradova</strong>
        </div>
      </div>

      <div class="panel panel-default cities">
        <div class="panel-body">
          <span *ngIf="selectedCities.length === 0" class="text-muted"> <em>Trenutno nema ubačenih gradova</em></span>
          <ul>
            <li *ngFor="let selectedCity of selectedCities">
              {{ selectedCity }}
              <a class="btn btn-default pull-right remove-btn" (click)="removeFromList(selectedCity)">x</a>
            </li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary btn-lg btn-block" (click)="submitGame()">Završi igru</button>
    </div>
  </div>
</div>
